:root {
	--color-primary-0: #1269F3;	/* Main Primary color */
	--color-primary-1: #E1ECFD;
	--color-primary-2: #FFFFFF;
	--color-primary-3:  #FFFFFF;
	--color-primary-4: #FFFFFF;

	--color-secondary-1-0: #F2DA00;	/* Main Secondary color (1) */
	--color-secondary-1-1: #FFED4A;
	--color-secondary-1-2: #FFE717;
	--color-secondary-1-3: #C2AF00;
	--color-secondary-1-4: #978700;

	--color-secondary-2-0: #F24F00;	/* Main Secondary color (2) */
	--color-secondary-2-1: #1269F3;
	--color-secondary-2-2: #FF6217;
	--color-secondary-2-3: #C23F00;
	--color-secondary-2-4: #973100;
}